<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Registraton</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/create" method="post">
            {% csrf_token %}
        <label for="first_name">First Name: <input type="text" name="first_name"></label>
        <label for="last_name">Last Name: <input type="text" name="last_name"></label>
        <label for="email">Email: <input type="text" name="email"></label>
        <label for="password">Password: <input type="text" name="password"></label>
        <label for="confirm_pw">Confrim Password: <input type="text" name="confirm_pw"></label>
        <button type="submit">Register</button>
    </form>

    <h1>Login</h1>
    <form action="/login" method="post">
        {% csrf_token %}
        <label for="email">Email: <input type="text" name="email"></label>
        <label for="password">Password: <input type="text" name="password"></label>
        <button type="submit">Login</button>
    </form>
    
</body>
</html>